* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  text-align: center;
  font-family: sans-serif;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: #171717;
  position: static;
  width: 100%;
  z-index: 100;
}


.logo {
  margin-left: 30px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar {
  display: none;
  list-style: none;
}

.navbar li ul {
  display: none;
  position: absolute;
}

ul,
ol {
  list-style: none;
}

.navbar {
  display: flex;
  margin-right: 10px;
}


.navbar li a {
  display: block;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar li a:hover {
  background: rgb(134, 38, 54);
}

.navbar li:hover>ul {
  display: block;
}

.navbar ul {
  background: #171717;
}

.navbar>li {
  float: left;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;


}

.header {
  height: 60vh !important;
  background: url(fondo.jpg) no-repeat center;
  background-size: cover;
}

.title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

p {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
  padding: 0 100px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid red;
  color: #fff;
  text-decoration: none;
  background: red;
}

.btn:hover {
  background: none;

}

.btn-home {
  display: flex;
}

.btn-home a {
  margin: 0 10px;
}




section {
  background-color: beige;
}

img {
  width: 23%;
  height: auto;
  filter: saturate(0);

}

a:hover img {
  filter: saturate(1);
}

h1 {
  margin-top: 10px;
  text-align: center;
  color: black;

}


.blur {
  filter: blur(4px);
}

.brightness {
  filter: brightness(250%);
}

.contrast {
  filter: contrast(180%);
}

.grayscale {
  filter: grayscale(100%);
}

.huerotate {
  filter: hue-rotate(180deg);
}

.invert {
  filter: invert(100%);
}

.opacity {
  filter: opacity(50%);
}

.saturate {
  filter: saturate(7);
}

.sepia {
  filter: sepia(100%);
}

.shadow {
  filter: drop-shadow(8px 8px 10px black);
}