h1 {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 50px;
}

#centro {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.letrapeq {
  font-size: 16px;
}


p.destacado {
  text-decoration: underline;
  font-weight: 20px;

}

.imagenes {
  width: 120%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.imagenes {
  width: 140%;
  display: block;
  margin-right: 200px;
  margin-left: -80px;

}

.principal {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.titulo {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

 .listas, li{
  padding-top: 0px;
  list-style: none;

}

navbar li{
  padding-top: 0px;
}



* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {

  font-family: sans-serif;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: #171717;
  position: static;
  width: 100%;
  z-index: 100;
}


.logo {
  margin-left: 30px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar {
  display: none;
  list-style: none;
}

.navbar li ul {
  display: none;
  position: absolute;
}

ul,
ol {
  list-style: none;
}

.navbar {
  display: flex;
  margin-right: 10px;
}


.navbar li a {
  display: block;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar li a:hover {
  background: rgb(134, 38, 54);
}

.navbar li:hover>ul {
  display: block;
}

.navbar ul {
  background: #171717;
}

.navbar>li {
  float: left;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;


}

.header {
  height: 60vh !important;
  background: url(fondo.jpg) no-repeat center;
  background-size: cover;
}

.title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}


.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid red;
  color: #fff;
  text-decoration: none;
  background: red;
}

.btn:hover {
  background: none;

}

.btn-home {
  display: flex;
}

.btn-home a {
  margin: 0 10px;
}






.about {
  background: #171717;
}

